  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_box.gif">
    <TD><IMG SRC="aa_lbox.gif">
    <TD><IMG SRC="aa_rbox.gif">
    <TD><IMG SRC="aa_obox.gif">
    <TD><IMG SRC="aa_olbox.gif">
    <TD><IMG SRC="aa_orbox.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>box
    <TD>lbox
    <TD>rbox
    <TD>obox
    <TD>olbox
    <TD>orbox
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_crow.gif">
    <TD><IMG SRC="aa_lcrow.gif">
    <TD><IMG SRC="aa_rcrow.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>crow
    <TD>lcrow
    <TD>rcrow
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_diamond.gif">
    <TD><IMG SRC="aa_ldiamond.gif">
    <TD><IMG SRC="aa_rdiamond.gif">
    <TD><IMG SRC="aa_odiamond.gif">
    <TD><IMG SRC="aa_oldiamond.gif">
    <TD><IMG SRC="aa_ordiamond.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>diamond
    <TD>ldiamond
    <TD>rdiamond
    <TD>odiamond
    <TD>oldiamond
    <TD>ordiamond
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_dot.gif">
    <TD><IMG SRC="aa_odot.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>dot
    <TD>odot
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_inv.gif">
    <TD><IMG SRC="aa_linv.gif">
    <TD><IMG SRC="aa_rinv.gif">
    <TD><IMG SRC="aa_oinv.gif">
    <TD><IMG SRC="aa_olinv.gif">
    <TD><IMG SRC="aa_orinv.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>inv
    <TD>linv
    <TD>rinv
    <TD>oinv
    <TD>olinv
    <TD>orinv
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_none.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>none
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_normal.gif">
    <TD><IMG SRC="aa_lnormal.gif">
    <TD><IMG SRC="aa_rnormal.gif">
    <TD><IMG SRC="aa_onormal.gif">
    <TD><IMG SRC="aa_olnormal.gif">
    <TD><IMG SRC="aa_ornormal.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>normal
    <TD>lnormal
    <TD>rnormal
    <TD>onormal
    <TD>olnormal
    <TD>ornormal
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_tee.gif">
    <TD><IMG SRC="aa_ltee.gif">
    <TD><IMG SRC="aa_rtee.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>tee
    <TD>ltee
    <TD>rtee
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_vee.gif">
    <TD><IMG SRC="aa_lvee.gif">
    <TD><IMG SRC="aa_rvee.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>vee
    <TD>lvee
    <TD>rvee
  </TR>
  <TR ALIGN=CENTER>
    <TD><IMG SRC="aa_curve.gif">
    <TD><IMG SRC="aa_lcurve.gif">
    <TD><IMG SRC="aa_rcurve.gif">
    <TD><IMG SRC="aa_icurve.gif">
    <TD><IMG SRC="aa_licurve.gif">
    <TD><IMG SRC="aa_ricurve.gif">
  </TR>
  <TR ALIGN=CENTER>
    <TD>curve
    <TD>lcurve
    <TD>rcurve
    <TD>icurve
    <TD>licurve
    <TD>ricurve
  </TR>
