  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_box.gif"></TD>
    <TD><IMG SRC="aa_lbox.gif"></TD>
    <TD><IMG SRC="aa_rbox.gif"></TD>
    <TD><IMG SRC="aa_obox.gif"></TD>
    <TD><IMG SRC="aa_olbox.gif"></TD>
    <TD><IMG SRC="aa_orbox.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>box</TD>
    <TD>lbox</TD>
    <TD>rbox</TD>
    <TD>obox</TD>
    <TD>olbox</TD>
    <TD>orbox</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_crow.gif"></TD>
    <TD><IMG SRC="aa_lcrow.gif"></TD>
    <TD><IMG SRC="aa_rcrow.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>crow</TD>
    <TD>lcrow</TD>
    <TD>rcrow</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_diamond.gif"></TD>
    <TD><IMG SRC="aa_ldiamond.gif"></TD>
    <TD><IMG SRC="aa_rdiamond.gif"></TD>
    <TD><IMG SRC="aa_odiamond.gif"></TD>
    <TD><IMG SRC="aa_oldiamond.gif"></TD>
    <TD><IMG SRC="aa_ordiamond.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>diamond</TD>
    <TD>ldiamond</TD>
    <TD>rdiamond</TD>
    <TD>odiamond</TD>
    <TD>oldiamond</TD>
    <TD>ordiamond</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_dot.gif"></TD>
    <TD><IMG SRC="aa_odot.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>dot</TD>
    <TD>odot</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_inv.gif"></TD>
    <TD><IMG SRC="aa_linv.gif"></TD>
    <TD><IMG SRC="aa_rinv.gif"></TD>
    <TD><IMG SRC="aa_oinv.gif"></TD>
    <TD><IMG SRC="aa_olinv.gif"></TD>
    <TD><IMG SRC="aa_orinv.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>inv</TD>
    <TD>linv</TD>
    <TD>rinv</TD>
    <TD>oinv</TD>
    <TD>olinv</TD>
    <TD>orinv</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_none.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>none</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_normal.gif"></TD>
    <TD><IMG SRC="aa_lnormal.gif"></TD>
    <TD><IMG SRC="aa_rnormal.gif"></TD>
    <TD><IMG SRC="aa_onormal.gif"></TD>
    <TD><IMG SRC="aa_olnormal.gif"></TD>
    <TD><IMG SRC="aa_ornormal.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>normal</TD>
    <TD>lnormal</TD>
    <TD>rnormal</TD>
    <TD>onormal</TD>
    <TD>olnormal</TD>
    <TD>ornormal</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_tee.gif"></TD>
    <TD><IMG SRC="aa_ltee.gif"></TD>
    <TD><IMG SRC="aa_rtee.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>tee</TD>
    <TD>ltee</TD>
    <TD>rtee</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_vee.gif"></TD>
    <TD><IMG SRC="aa_lvee.gif"></TD>
    <TD><IMG SRC="aa_rvee.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>vee</TD>
    <TD>lvee</TD>
    <TD>rvee</TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD><IMG SRC="aa_curve.gif"></TD>
    <TD><IMG SRC="aa_lcurve.gif"></TD>
    <TD><IMG SRC="aa_rcurve.gif"></TD>
    <TD><IMG SRC="aa_icurve.gif"></TD>
    <TD><IMG SRC="aa_licurve.gif"></TD>
    <TD><IMG SRC="aa_ricurve.gif"></TD>
  </TR>
  <TR ALIGN="CENTER">
    <TD>curve</TD>
    <TD>lcurve</TD>
    <TD>rcurve</TD>
    <TD>icurve</TD>
    <TD>licurve</TD>
    <TD>ricurve</TD>
  </TR>
