<TR>
  <TD STYLE="text-align: right;"><I>arrowname</I></TD>
  <TD>:</TD>
  <TD><I>aname</I> [ <I>aname</I> [ <I>aname</I> [ <I>aname</I> ] ] ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>aname</I></TD>
  <TD>:</TD>
  <TD>[ <I>modifiers</I> ] <I>shape</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>modifiers</I></TD>
  <TD>:</TD>
  <TD>[ <B>'o'</B> ] [ <I>side</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>side</I></TD>
  <TD>:</TD>
  <TD><B>'l'</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>'r'</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>shape</I></TD>
  <TD>:</TD>
  <TD><B>box</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>crow</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>curve</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>icurve</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>diamond</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>dot</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>inv</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>none</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>normal</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>tee</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>vee</B></TD>
</TR>
