<TR>
  <TD STYLE="text-align: right;"><I>label</I></TD>
  <TD>:</TD>
  <TD><I>text</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>fonttable</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>text</I></TD>
  <TD>:</TD>
  <TD><I>textitem</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>text</I> <I>textitem</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>textitem</I></TD>
  <TD>:</TD>
  <TD><I>string</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;BR/&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;FONT&gt;</B> <I>text</I> <B>&lt;/FONT&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;I&gt;</B> <I>text</I> <B>&lt;/I&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;B&gt;</B> <I>text</I> <B>&lt;/B&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;U&gt;</B> <I>text</I> <B>&lt;/U&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;O&gt;</B> <I>text</I> <B>&lt;/O&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;SUB&gt;</B> <I>text</I> <B>&lt;/SUB&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;SUP&gt;</B> <I>text</I> <B>&lt;/SUP&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;S&gt;</B> <I>text</I> <B>&lt;/S&gt;</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>fonttable</I></TD>
  <TD>:</TD>
  <TD><I>table</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;FONT&gt;</B> <I>table</I> <B>&lt;/FONT&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;I&gt;</B> <I>table</I> <B>&lt;/I&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;B&gt;</B> <I>table</I> <B>&lt;/B&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;U&gt;</B> <I>table</I> <B>&lt;/U&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;O&gt;</B> <I>table</I> <B>&lt;/O&gt;</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>table</I></TD>
  <TD>:</TD>
  <TD><B>&lt;TABLE&gt;</B> <I>rows</I> <B>&lt;/TABLE&gt;</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>rows</I></TD>
  <TD>:</TD>
  <TD><I>row</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>rows</I> <I>row</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>rows</I> <B>&lt;HR/&gt;</B> <I>row</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>row</I></TD>
  <TD>:</TD>
  <TD><B>&lt;TR&gt;</B> <I>cells</I> <B>&lt;/TR&gt;</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>cells</I></TD>
  <TD>:</TD>
  <TD><I>cell</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>cells</I> <I>cell</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>cells</I> <B>&lt;VR/&gt;</B> <I>cell</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>cell</I></TD>
  <TD>:</TD>
  <TD><B>&lt;TD&gt;</B> <I>label</I> <B>&lt;/TD&gt;</B></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>&lt;TD&gt;</B> <B>&lt;IMG/&gt;</B> <B>&lt;/TD&gt;</B></TD>
</TR>
