<TR>
  <TD ALIGN="RIGHT"><I>label</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>text</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>fonttable</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>text</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>textitem</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>text</I> <I>textitem</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>textitem</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>string</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;BR/&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;FONT&gt;</B> <I>text</I> <B>&lt;/FONT&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;I&gt;</B> <I>text</I> <B>&lt;/I&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;B&gt;</B> <I>text</I> <B>&lt;/B&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;U&gt;</B> <I>text</I> <B>&lt;/U&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;O&gt;</B> <I>text</I> <B>&lt;/O&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;SUB&gt;</B> <I>text</I> <B>&lt;/SUB&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;SUP&gt;</B> <I>text</I> <B>&lt;/SUP&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;S&gt;</B> <I>text</I> <B>&lt;/S&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>fonttable</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>table</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;FONT&gt;</B> <I>table</I> <B>&lt;/FONT&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;I&gt;</B> <I>table</I> <B>&lt;/I&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;B&gt;</B> <I>table</I> <B>&lt;/B&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;U&gt;</B> <I>table</I> <B>&lt;/U&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;O&gt;</B> <I>table</I> <B>&lt;/O&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>table</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><B>&lt;TABLE&gt;</B> <I>rows</I> <B>&lt;/TABLE&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>rows</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>row</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>rows</I> <I>row</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>rows</I> <B>&lt;HR/&gt;</B> <I>row</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>row</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><B>&lt;TR&gt;</B> <I>cells</I> <B>&lt;/TR&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>cells</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><I>cell</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>cells</I> <I>cell</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><I>cells</I> <B>&lt;VR/&gt;</B> <I>cell</I></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"><I>cell</I></TD>
  <TD ALIGN="LEFT">:</TD>
  <TD ALIGN="LEFT"><B>&lt;TD&gt;</B> <I>label</I> <B>&lt;/TD&gt;</B></TD>
</TR>
<TR>
  <TD ALIGN="RIGHT"></TD>
  <TD ALIGN="LEFT">|</TD>
  <TD ALIGN="LEFT"><B>&lt;TD&gt;</B> <B>&lt;IMG/&gt;</B> <B>&lt;/TD&gt;</B></TD>
</TR>
