<table border="1" align="center">
<tr align="center">
<td bgcolor="#f0f8ff" title="#f0f8ff">aliceblue</td>
<td bgcolor="#faebd7" title="#faebd7">antiquewhite</td>
<td bgcolor="#00ffff" title="#00ffff">&nbsp;&nbsp;&nbsp;aqua&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#7fffd4" title="#7fffd4">aquamarine</td>
<td bgcolor="#f0ffff" title="#f0ffff">azure</td>
</tr>
<tr align="center">
<td bgcolor="#f5f5dc" title="#f5f5dc">beige</td>
<td bgcolor="#ffe4c4" title="#ffe4c4">bisque</td>
<td bgcolor="#000000" title="#000000"><font color="white">black</font></td>
<td bgcolor="#ffebcd" title="#ffebcd">blanchedalmond</td>
<td bgcolor="#0000ff" title="#0000ff">&nbsp;&nbsp;&nbsp;blue&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr align="center">
<td bgcolor="#8a2be2" title="#8a2be2">blueviolet</td>
<td bgcolor="#a52a2a" title="#a52a2a">brown</td>
<td bgcolor="#deb887" title="#deb887">burlywood</td>
<td bgcolor="#5f9ea0" title="#5f9ea0">cadetblue</td>
<td bgcolor="#7fff00" title="#7fff00">chartreuse</td>
</tr>
<tr align="center">
<td bgcolor="#d2691e" title="#d2691e">chocolate</td>
<td bgcolor="#ff7f50" title="#ff7f50">coral</td>
<td bgcolor="#6495ed" title="#6495ed">cornflowerblue</td>
<td bgcolor="#fff8dc" title="#fff8dc">cornsilk</td>
<td bgcolor="#dc143c" title="#dc143c">crimson</td>
</tr>
<tr align="center">
<td bgcolor="#00ffff" title="#00ffff">&nbsp;&nbsp;&nbsp;cyan&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#00008b" title="#00008b">darkblue</td>
<td bgcolor="#008b8b" title="#008b8b">darkcyan</td>
<td bgcolor="#b8860b" title="#b8860b">darkgoldenrod</td>
<td bgcolor="#a9a9a9" title="#a9a9a9">darkgray</td>
</tr>
<tr align="center">
<td bgcolor="#006400" title="#006400"><font color="white">darkgreen</font></td>
<td bgcolor="#a9a9a9" title="#a9a9a9">darkgrey</td>
<td bgcolor="#bdb76b" title="#bdb76b">darkkhaki</td>
<td bgcolor="#8b008b" title="#8b008b">darkmagenta</td>
<td bgcolor="#556b2f" title="#556b2f"><font color="white">darkolivegreen</font></td>
</tr>
<tr align="center">
<td bgcolor="#ff8c00" title="#ff8c00">darkorange</td>
<td bgcolor="#9932cc" title="#9932cc">darkorchid</td>
<td bgcolor="#8b0000" title="#8b0000">darkred</td>
<td bgcolor="#e9967a" title="#e9967a">darksalmon</td>
<td bgcolor="#8fbc8f" title="#8fbc8f">darkseagreen</td>
</tr>
<tr align="center">
<td bgcolor="#483d8b" title="#483d8b">darkslateblue</td>
<td bgcolor="#2f4f4f" title="#2f4f4f"><font color="white">darkslategray</font></td>
<td bgcolor="#2f4f4f" title="#2f4f4f"><font color="white">darkslategrey</font></td>
<td bgcolor="#00ced1" title="#00ced1">darkturquoise</td>
<td bgcolor="#9400d3" title="#9400d3">darkviolet</td>
</tr>
<tr align="center">
<td bgcolor="#ff1493" title="#ff1493">deeppink</td>
<td bgcolor="#00bfff" title="#00bfff">deepskyblue</td>
<td bgcolor="#696969" title="#696969"><font color="white">dimgray</font></td>
<td bgcolor="#696969" title="#696969"><font color="white">dimgrey</font></td>
<td bgcolor="#1e90ff" title="#1e90ff">dodgerblue</td>
</tr>
<tr align="center">
<td bgcolor="#b22222" title="#b22222">firebrick</td>
<td bgcolor="#fffaf0" title="#fffaf0">floralwhite</td>
<td bgcolor="#228b22" title="#228b22">forestgreen</td>
<td bgcolor="#ff00ff" title="#ff00ff">fuchsia</td>
<td bgcolor="#dcdcdc" title="#dcdcdc">gainsboro</td>
</tr>
<tr align="center">
<td bgcolor="#f8f8ff" title="#f8f8ff">ghostwhite</td>
<td bgcolor="#ffd700" title="#ffd700">&nbsp;&nbsp;&nbsp;gold&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#daa520" title="#daa520">goldenrod</td>
<td bgcolor="#808080" title="#808080"><font color="white">&nbsp;&nbsp;&nbsp;gray&nbsp;&nbsp;&nbsp;</font></td>
<td bgcolor="#808080" title="#808080"><font color="white">&nbsp;&nbsp;&nbsp;grey&nbsp;&nbsp;&nbsp;</font></td>
</tr>
<tr align="center">
<td bgcolor="#008000" title="#008000"><font color="white">green</font></td>
<td bgcolor="#adff2f" title="#adff2f">greenyellow</td>
<td bgcolor="#f0fff0" title="#f0fff0">honeydew</td>
<td bgcolor="#ff69b4" title="#ff69b4">hotpink</td>
<td bgcolor="#cd5c5c" title="#cd5c5c">indianred</td>
</tr>
<tr align="center">
<td bgcolor="#4b0082" title="#4b0082"><font color="white">indigo</font></td>
<td bgcolor="#fffff0" title="#fffff0">ivory</td>
<td bgcolor="#f0e68c" title="#f0e68c">khaki</td>
<td bgcolor="#e6e6fa" title="#e6e6fa">lavender</td>
<td bgcolor="#fff0f5" title="#fff0f5">lavenderblush</td>
</tr>
<tr align="center">
<td bgcolor="#7cfc00" title="#7cfc00">lawngreen</td>
<td bgcolor="#fffacd" title="#fffacd">lemonchiffon</td>
<td bgcolor="#add8e6" title="#add8e6">lightblue</td>
<td bgcolor="#f08080" title="#f08080">lightcoral</td>
<td bgcolor="#e0ffff" title="#e0ffff">lightcyan</td>
</tr>
<tr align="center">
<td bgcolor="#fafad2" title="#fafad2">lightgoldenrodyellow</td>
<td bgcolor="#d3d3d3" title="#d3d3d3">lightgray</td>
<td bgcolor="#90ee90" title="#90ee90">lightgreen</td>
<td bgcolor="#d3d3d3" title="#d3d3d3">lightgrey</td>
<td bgcolor="#ffb6c1" title="#ffb6c1">lightpink</td>
</tr>
<tr align="center">
<td bgcolor="#ffa07a" title="#ffa07a">lightsalmon</td>
<td bgcolor="#20b2aa" title="#20b2aa">lightseagreen</td>
<td bgcolor="#87cefa" title="#87cefa">lightskyblue</td>
<td bgcolor="#778899" title="#778899">lightslategray</td>
<td bgcolor="#778899" title="#778899">lightslategrey</td>
</tr>
<tr align="center">
<td bgcolor="#b0c4de" title="#b0c4de">lightsteelblue</td>
<td bgcolor="#ffffe0" title="#ffffe0">lightyellow</td>
<td bgcolor="#00ff00" title="#00ff00">&nbsp;&nbsp;&nbsp;lime&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#32cd32" title="#32cd32">limegreen</td>
<td bgcolor="#faf0e6" title="#faf0e6">linen</td>
</tr>
<tr align="center">
<td bgcolor="#ff00ff" title="#ff00ff">magenta</td>
<td bgcolor="#800000" title="#800000"><font color="white">maroon</font></td>
<td bgcolor="#66cdaa" title="#66cdaa">mediumaquamarine</td>
<td bgcolor="#0000cd" title="#0000cd">mediumblue</td>
<td bgcolor="#ba55d3" title="#ba55d3">mediumorchid</td>
</tr>
<tr align="center">
<td bgcolor="#9370db" title="#9370db">mediumpurple</td>
<td bgcolor="#3cb371" title="#3cb371">mediumseagreen</td>
<td bgcolor="#7b68ee" title="#7b68ee">mediumslateblue</td>
<td bgcolor="#00fa9a" title="#00fa9a">mediumspringgreen</td>
<td bgcolor="#48d1cc" title="#48d1cc">mediumturquoise</td>
</tr>
<tr align="center">
<td bgcolor="#c71585" title="#c71585">mediumvioletred</td>
<td bgcolor="#191970" title="#191970"><font color="white">midnightblue</font></td>
<td bgcolor="#f5fffa" title="#f5fffa">mintcream</td>
<td bgcolor="#ffe4e1" title="#ffe4e1">mistyrose</td>
<td bgcolor="#ffe4b5" title="#ffe4b5">moccasin</td>
</tr>
<tr align="center">
<td bgcolor="#ffdead" title="#ffdead">navajowhite</td>
<td bgcolor="#000080" title="#000080"><font color="white">&nbsp;&nbsp;&nbsp;navy&nbsp;&nbsp;&nbsp;</font></td>
<td bgcolor="#fdf5e6" title="#fdf5e6">oldlace</td>
<td bgcolor="#808000" title="#808000"><font color="white">olive</font></td>
<td bgcolor="#6b8e23" title="#6b8e23">olivedrab</td>
</tr>
<tr align="center">
<td bgcolor="#ffa500" title="#ffa500">orange</td>
<td bgcolor="#ff4500" title="#ff4500">orangered</td>
<td bgcolor="#da70d6" title="#da70d6">orchid</td>
<td bgcolor="#eee8aa" title="#eee8aa">palegoldenrod</td>
<td bgcolor="#98fb98" title="#98fb98">palegreen</td>
</tr>
<tr align="center">
<td bgcolor="#afeeee" title="#afeeee">paleturquoise</td>
<td bgcolor="#db7093" title="#db7093">palevioletred</td>
<td bgcolor="#ffefd5" title="#ffefd5">papayawhip</td>
<td bgcolor="#ffdab9" title="#ffdab9">peachpuff</td>
<td bgcolor="#cd853f" title="#cd853f">&nbsp;&nbsp;&nbsp;peru&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr align="center">
<td bgcolor="#ffc0cb" title="#ffc0cb">&nbsp;&nbsp;&nbsp;pink&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#dda0dd" title="#dda0dd">&nbsp;&nbsp;&nbsp;plum&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#b0e0e6" title="#b0e0e6">powderblue</td>
<td bgcolor="#800080" title="#800080"><font color="white">purple</font></td>
<td bgcolor="#ff0000" title="#ff0000">&nbsp;&nbsp;&nbsp;red&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr align="center">
<td bgcolor="#bc8f8f" title="#bc8f8f">rosybrown</td>
<td bgcolor="#4169e1" title="#4169e1">royalblue</td>
<td bgcolor="#8b4513" title="#8b4513">saddlebrown</td>
<td bgcolor="#fa8072" title="#fa8072">salmon</td>
<td bgcolor="#f4a460" title="#f4a460">sandybrown</td>
</tr>
<tr align="center">
<td bgcolor="#2e8b57" title="#2e8b57">seagreen</td>
<td bgcolor="#fff5ee" title="#fff5ee">seashell</td>
<td bgcolor="#a0522d" title="#a0522d">sienna</td>
<td bgcolor="#c0c0c0" title="#c0c0c0">silver</td>
<td bgcolor="#87ceeb" title="#87ceeb">skyblue</td>
</tr>
<tr align="center">
<td bgcolor="#6a5acd" title="#6a5acd">slateblue</td>
<td bgcolor="#708090" title="#708090">slategray</td>
<td bgcolor="#708090" title="#708090">slategrey</td>
<td bgcolor="#fffafa" title="#fffafa">&nbsp;&nbsp;&nbsp;snow&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#00ff7f" title="#00ff7f">springgreen</td>
</tr>
<tr align="center">
<td bgcolor="#4682b4" title="#4682b4">steelblue</td>
<td bgcolor="#d2b48c" title="#d2b48c">&nbsp;&nbsp;&nbsp;tan&nbsp;&nbsp;&nbsp;</td>
<td bgcolor="#008080" title="#008080"><font color="white">&nbsp;&nbsp;&nbsp;teal&nbsp;&nbsp;&nbsp;</font></td>
<td bgcolor="#d8bfd8" title="#d8bfd8">thistle</td>
<td bgcolor="#ff6347" title="#ff6347">tomato</td>
</tr>
<tr align="center">
<td bgcolor="#40e0d0" title="#40e0d0">turquoise</td>
<td bgcolor="#ee82ee" title="#ee82ee">violet</td>
<td bgcolor="#f5deb3" title="#f5deb3">wheat</td>
<td bgcolor="#ffffff" title="#ffffff">white</td>
<td bgcolor="#f5f5f5" title="#f5f5f5">whitesmoke</td>
</tr>
<tr align="center">
<td bgcolor="#ffff00" title="#ffff00">yellow</td>
<td bgcolor="#9acd32" title="#9acd32">yellowgreen</td>
</tr>
</table><HR>
