<table border="1" align="center" class="gv-colors">
<tr align="center">
<td style="background-color: #f0f8ff;" title="#f0f8ff">aliceblue</td>
<td style="background-color: #faebd7;" title="#faebd7">antiquewhite</td>
<td style="background-color: #00ffff;" title="#00ffff">aqua</td>
<td style="background-color: #7fffd4;" title="#7fffd4">aquamarine</td>
<td style="background-color: #f0ffff;" title="#f0ffff">azure</td>
</tr>
<tr align="center">
<td style="background-color: #f5f5dc;" title="#f5f5dc">beige</td>
<td style="background-color: #ffe4c4;" title="#ffe4c4">bisque</td>
<td style="background-color: #000000;" title="#000000"><span style="color: white;">black</span></td>
<td style="background-color: #ffebcd;" title="#ffebcd">blanchedalmond</td>
<td style="background-color: #0000ff;" title="#0000ff">blue</td>
</tr>
<tr align="center">
<td style="background-color: #8a2be2;" title="#8a2be2">blueviolet</td>
<td style="background-color: #a52a2a;" title="#a52a2a">brown</td>
<td style="background-color: #deb887;" title="#deb887">burlywood</td>
<td style="background-color: #5f9ea0;" title="#5f9ea0">cadetblue</td>
<td style="background-color: #7fff00;" title="#7fff00">chartreuse</td>
</tr>
<tr align="center">
<td style="background-color: #d2691e;" title="#d2691e">chocolate</td>
<td style="background-color: #ff7f50;" title="#ff7f50">coral</td>
<td style="background-color: #6495ed;" title="#6495ed">cornflowerblue</td>
<td style="background-color: #fff8dc;" title="#fff8dc">cornsilk</td>
<td style="background-color: #dc143c;" title="#dc143c">crimson</td>
</tr>
<tr align="center">
<td style="background-color: #00ffff;" title="#00ffff">cyan</td>
<td style="background-color: #00008b;" title="#00008b">darkblue</td>
<td style="background-color: #008b8b;" title="#008b8b">darkcyan</td>
<td style="background-color: #b8860b;" title="#b8860b">darkgoldenrod</td>
<td style="background-color: #a9a9a9;" title="#a9a9a9">darkgray</td>
</tr>
<tr align="center">
<td style="background-color: #006400;" title="#006400"><span style="color: white;">darkgreen</span></td>
<td style="background-color: #a9a9a9;" title="#a9a9a9">darkgrey</td>
<td style="background-color: #bdb76b;" title="#bdb76b">darkkhaki</td>
<td style="background-color: #8b008b;" title="#8b008b">darkmagenta</td>
<td style="background-color: #556b2f;" title="#556b2f"><span style="color: white;">darkolivegreen</span></td>
</tr>
<tr align="center">
<td style="background-color: #ff8c00;" title="#ff8c00">darkorange</td>
<td style="background-color: #9932cc;" title="#9932cc">darkorchid</td>
<td style="background-color: #8b0000;" title="#8b0000">darkred</td>
<td style="background-color: #e9967a;" title="#e9967a">darksalmon</td>
<td style="background-color: #8fbc8f;" title="#8fbc8f">darkseagreen</td>
</tr>
<tr align="center">
<td style="background-color: #483d8b;" title="#483d8b">darkslateblue</td>
<td style="background-color: #2f4f4f;" title="#2f4f4f"><span style="color: white;">darkslategray</span></td>
<td style="background-color: #2f4f4f;" title="#2f4f4f"><span style="color: white;">darkslategrey</span></td>
<td style="background-color: #00ced1;" title="#00ced1">darkturquoise</td>
<td style="background-color: #9400d3;" title="#9400d3">darkviolet</td>
</tr>
<tr align="center">
<td style="background-color: #ff1493;" title="#ff1493">deeppink</td>
<td style="background-color: #00bfff;" title="#00bfff">deepskyblue</td>
<td style="background-color: #696969;" title="#696969"><span style="color: white;">dimgray</span></td>
<td style="background-color: #696969;" title="#696969"><span style="color: white;">dimgrey</span></td>
<td style="background-color: #1e90ff;" title="#1e90ff">dodgerblue</td>
</tr>
<tr align="center">
<td style="background-color: #b22222;" title="#b22222">firebrick</td>
<td style="background-color: #fffaf0;" title="#fffaf0">floralwhite</td>
<td style="background-color: #228b22;" title="#228b22">forestgreen</td>
<td style="background-color: #ff00ff;" title="#ff00ff">fuchsia</td>
<td style="background-color: #dcdcdc;" title="#dcdcdc">gainsboro</td>
</tr>
<tr align="center">
<td style="background-color: #f8f8ff;" title="#f8f8ff">ghostwhite</td>
<td style="background-color: #ffd700;" title="#ffd700">gold</td>
<td style="background-color: #daa520;" title="#daa520">goldenrod</td>
<td style="background-color: #808080;" title="#808080"><span style="color: white;">gray</span></td>
<td style="background-color: #808080;" title="#808080"><span style="color: white;">grey</span></td>
</tr>
<tr align="center">
<td style="background-color: #008000;" title="#008000"><span style="color: white;">green</span></td>
<td style="background-color: #adff2f;" title="#adff2f">greenyellow</td>
<td style="background-color: #f0fff0;" title="#f0fff0">honeydew</td>
<td style="background-color: #ff69b4;" title="#ff69b4">hotpink</td>
<td style="background-color: #cd5c5c;" title="#cd5c5c">indianred</td>
</tr>
<tr align="center">
<td style="background-color: #4b0082;" title="#4b0082"><span style="color: white;">indigo</span></td>
<td style="background-color: #fffff0;" title="#fffff0">ivory</td>
<td style="background-color: #f0e68c;" title="#f0e68c">khaki</td>
<td style="background-color: #e6e6fa;" title="#e6e6fa">lavender</td>
<td style="background-color: #fff0f5;" title="#fff0f5">lavenderblush</td>
</tr>
<tr align="center">
<td style="background-color: #7cfc00;" title="#7cfc00">lawngreen</td>
<td style="background-color: #fffacd;" title="#fffacd">lemonchiffon</td>
<td style="background-color: #add8e6;" title="#add8e6">lightblue</td>
<td style="background-color: #f08080;" title="#f08080">lightcoral</td>
<td style="background-color: #e0ffff;" title="#e0ffff">lightcyan</td>
</tr>
<tr align="center">
<td style="background-color: #fafad2;" title="#fafad2">lightgoldenrodyellow</td>
<td style="background-color: #d3d3d3;" title="#d3d3d3">lightgray</td>
<td style="background-color: #90ee90;" title="#90ee90">lightgreen</td>
<td style="background-color: #d3d3d3;" title="#d3d3d3">lightgrey</td>
<td style="background-color: #ffb6c1;" title="#ffb6c1">lightpink</td>
</tr>
<tr align="center">
<td style="background-color: #ffa07a;" title="#ffa07a">lightsalmon</td>
<td style="background-color: #20b2aa;" title="#20b2aa">lightseagreen</td>
<td style="background-color: #87cefa;" title="#87cefa">lightskyblue</td>
<td style="background-color: #778899;" title="#778899">lightslategray</td>
<td style="background-color: #778899;" title="#778899">lightslategrey</td>
</tr>
<tr align="center">
<td style="background-color: #b0c4de;" title="#b0c4de">lightsteelblue</td>
<td style="background-color: #ffffe0;" title="#ffffe0">lightyellow</td>
<td style="background-color: #00ff00;" title="#00ff00">lime</td>
<td style="background-color: #32cd32;" title="#32cd32">limegreen</td>
<td style="background-color: #faf0e6;" title="#faf0e6">linen</td>
</tr>
<tr align="center">
<td style="background-color: #ff00ff;" title="#ff00ff">magenta</td>
<td style="background-color: #800000;" title="#800000"><span style="color: white;">maroon</span></td>
<td style="background-color: #66cdaa;" title="#66cdaa">mediumaquamarine</td>
<td style="background-color: #0000cd;" title="#0000cd">mediumblue</td>
<td style="background-color: #ba55d3;" title="#ba55d3">mediumorchid</td>
</tr>
<tr align="center">
<td style="background-color: #9370db;" title="#9370db">mediumpurple</td>
<td style="background-color: #3cb371;" title="#3cb371">mediumseagreen</td>
<td style="background-color: #7b68ee;" title="#7b68ee">mediumslateblue</td>
<td style="background-color: #00fa9a;" title="#00fa9a">mediumspringgreen</td>
<td style="background-color: #48d1cc;" title="#48d1cc">mediumturquoise</td>
</tr>
<tr align="center">
<td style="background-color: #c71585;" title="#c71585">mediumvioletred</td>
<td style="background-color: #191970;" title="#191970"><span style="color: white;">midnightblue</span></td>
<td style="background-color: #f5fffa;" title="#f5fffa">mintcream</td>
<td style="background-color: #ffe4e1;" title="#ffe4e1">mistyrose</td>
<td style="background-color: #ffe4b5;" title="#ffe4b5">moccasin</td>
</tr>
<tr align="center">
<td style="background-color: #ffdead;" title="#ffdead">navajowhite</td>
<td style="background-color: #000080;" title="#000080"><span style="color: white;">navy</span></td>
<td style="background-color: #fdf5e6;" title="#fdf5e6">oldlace</td>
<td style="background-color: #808000;" title="#808000"><span style="color: white;">olive</span></td>
<td style="background-color: #6b8e23;" title="#6b8e23">olivedrab</td>
</tr>
<tr align="center">
<td style="background-color: #ffa500;" title="#ffa500">orange</td>
<td style="background-color: #ff4500;" title="#ff4500">orangered</td>
<td style="background-color: #da70d6;" title="#da70d6">orchid</td>
<td style="background-color: #eee8aa;" title="#eee8aa">palegoldenrod</td>
<td style="background-color: #98fb98;" title="#98fb98">palegreen</td>
</tr>
<tr align="center">
<td style="background-color: #afeeee;" title="#afeeee">paleturquoise</td>
<td style="background-color: #db7093;" title="#db7093">palevioletred</td>
<td style="background-color: #ffefd5;" title="#ffefd5">papayawhip</td>
<td style="background-color: #ffdab9;" title="#ffdab9">peachpuff</td>
<td style="background-color: #cd853f;" title="#cd853f">peru</td>
</tr>
<tr align="center">
<td style="background-color: #ffc0cb;" title="#ffc0cb">pink</td>
<td style="background-color: #dda0dd;" title="#dda0dd">plum</td>
<td style="background-color: #b0e0e6;" title="#b0e0e6">powderblue</td>
<td style="background-color: #800080;" title="#800080"><span style="color: white;">purple</span></td>
<td style="background-color: #ff0000;" title="#ff0000">red</td>
</tr>
<tr align="center">
<td style="background-color: #bc8f8f;" title="#bc8f8f">rosybrown</td>
<td style="background-color: #4169e1;" title="#4169e1">royalblue</td>
<td style="background-color: #8b4513;" title="#8b4513">saddlebrown</td>
<td style="background-color: #fa8072;" title="#fa8072">salmon</td>
<td style="background-color: #f4a460;" title="#f4a460">sandybrown</td>
</tr>
<tr align="center">
<td style="background-color: #2e8b57;" title="#2e8b57">seagreen</td>
<td style="background-color: #fff5ee;" title="#fff5ee">seashell</td>
<td style="background-color: #a0522d;" title="#a0522d">sienna</td>
<td style="background-color: #c0c0c0;" title="#c0c0c0">silver</td>
<td style="background-color: #87ceeb;" title="#87ceeb">skyblue</td>
</tr>
<tr align="center">
<td style="background-color: #6a5acd;" title="#6a5acd">slateblue</td>
<td style="background-color: #708090;" title="#708090">slategray</td>
<td style="background-color: #708090;" title="#708090">slategrey</td>
<td style="background-color: #fffafa;" title="#fffafa">snow</td>
<td style="background-color: #00ff7f;" title="#00ff7f">springgreen</td>
</tr>
<tr align="center">
<td style="background-color: #4682b4;" title="#4682b4">steelblue</td>
<td style="background-color: #d2b48c;" title="#d2b48c">tan</td>
<td style="background-color: #008080;" title="#008080"><span style="color: white;">teal</span></td>
<td style="background-color: #d8bfd8;" title="#d8bfd8">thistle</td>
<td style="background-color: #ff6347;" title="#ff6347">tomato</td>
</tr>
<tr align="center">
<td style="background-color: #40e0d0;" title="#40e0d0">turquoise</td>
<td style="background-color: #ee82ee;" title="#ee82ee">violet</td>
<td style="background-color: #f5deb3;" title="#f5deb3">wheat</td>
<td style="background-color: #ffffff;" title="#ffffff">white</td>
<td style="background-color: #f5f5f5;" title="#f5f5f5">whitesmoke</td>
</tr>
<tr align="center">
<td style="background-color: #ffff00;" title="#ffff00">yellow</td>
<td style="background-color: #9acd32;" title="#9acd32">yellowgreen</td>
</tr>
</table>
