{{ define "main" }}
<div class="td-content">
	<h1>{{ .Title }}</h1>
	{{ $type := (first 1 .Title) }}
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	{{ .Content }}
	<p></p>
	<h2>Attributes for {{ (lower (strings.TrimSuffix "s" .Title)) }}s</h2>
	<ul>
		{{ range $i, $page := (where $.Site.RegularPages "Type" "attrs") }}
			{{ if in $page.Params.used_by $type }}
				<li>
				<a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
				{{ with .Params.description }} &ndash; {{ . | markdownify }}.{{ end }}
				{{ with .Params.flags }}
				For
				{{ range $i, $flag := . -}}
					{{ if $i }}, {{ end }}
					{{- $flag -}}
				{{ end }}
				{{ end }}
				</li>
			{{ end }}
		{{ end }}
	</ul>
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>
{{ end }}
