<HTML>
<HEAD>
<TITLE> Graphviz Example: {{page.title }} </TITLE>
</HEAD>
<body background="{% if page.background %}{{page.background}}{% else %}/backgrounds/back8.gif{% endif %}">


{{ content }}
<P>
[<a href="{{page.svg}}">SVG</a>]
[ Back to Graphviz: 
<A HREF="../../" TARGET="_top"> Home Page</A>
|
<A HREF="../../Gallery.php" TARGET="_top"> Gallery</A>
]

<P>
<font size="1">
{% if page.copyright -%}
  {{- page.copyright -}}
{%- else -%}
  Copyright &#169; 1996-2004 AT&amp;T.  All rights reserved.
{%- endif %}
</font>


</BODY>
</HTML>
