<TABLE>
<TR>
  <TH>Name</TH>
  <TH><A HREF="#h:uses">Used By</A></TH>
  <TH>Type</TH>
  <TH>Default</TH>
  <TH>Minimum</TH>
  <TH>Notes</TH>
</TR>
{{ $attrs := .Site.GetPage "/attrs" }}
{{ range $attr := $attrs.Resources }}
<TR>
  <TD><A ID="a:{{ .Params.name }}" HREF="#d:{{ .Params.name }}">{{ .Params.name }}</A></TD>
  <TD>{{ .Params.used_by }}</TD>
  <TD>
  {{- range $i, $type := .Params.types -}}
    {{- if $i -}}<BR>{{- end -}}
    <A HREF="#k:{{$type}}">{{$type}}</A>
  {{- end -}}
  </TD>
  <TD>
  {{- range $i, $d := .Params.defaults -}}
    {{- if $i -}}<BR>{{- end -}}
    {{ $d }}
  {{- end -}}
  </TD>
  <TD>
  {{- range $i, $minimum := .Params.minimums -}}
    {{- if $i -}}<BR>{{- end -}}
    {{- $minimum -}}
  {{- end -}}
  </TD>
  <TD>
  {{- if .Params.flags -}}
    {{- if eq (index .Params.flags 0) "notdot" -}}
      not dot
    {{- else -}}
      {{- range $i, $flag := .Params.flags -}} 
        {{- if $i }}, {{ end -}}
        {{ $flag }}
      {{- end }} only
    {{- end -}}
  {{- end -}}
  </TD>
</TR>
{{ end }}
</TABLE>
