{{ $gv_src := $.Inner }}
{{ if $.Get "file" }}
  {{ $gv_src = readFile ($.Get "file") }}
{{ end }}
{{ $gv_src = trim $gv_src "\n "}}
<div class="card mb-4">
  {{ with $.Get "header" }}
    <div class="card-header">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "header" | markdownify }}
      {{ else }}
        {{ $.Get "header" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
  <div class="card-body">
    {{ with $.Get "title" }}
      <h5 class="card-title">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "title" | markdownify }}
        {{ else }}
          {{ $.Get "title" | htmlUnescape | safeHTML }}
        {{ end }}
      </h5>
    {{ end }}
    {{ with $.Get "subtitle" }}
      <h6 class="card-title mb-2 text-muted">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "subtitle" | markdownify }}
        {{ else }}
          {{ $.Get "subtitle" | htmlUnescape | safeHTML }}
        {{ end }}
      </h6>
    {{ end }}
    {{- highlight $gv_src "dot" "" -}}
  </div>
  <div class="card-footer">
    <a href="http://magjac.com/graphviz-visual-editor/?dot={{ $gv_src }}" target="_blank"><i class="fa fa-external-link-alt"></i> Edit in Playground</a>
    {{ with $.Get "footer" }}
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "footer" | markdownify }}
      {{ else }}
        {{ $.Get "footer" | htmlUnescape | safeHTML }}
      {{ end }}
    {{ end }}
  </div>
</div>
