<TR>
  <TD STYLE="text-align: right;"><I>graph</I></TD>
  <TD>:</TD>
  <TD>[ <B>strict</B> ] (<B>graph</B> | <B>digraph</B>) [ <I>ID</I> ] <B>'{'</B> <I>stmt_list</I> <B>'}'</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>stmt_list</I></TD>
  <TD>:</TD>
  <TD>[ <I>stmt</I> [ <B>';'</B> ] <I>stmt_list</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>stmt</I></TD>
  <TD>:</TD>
  <TD><I>node_stmt</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>edge_stmt</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>attr_stmt</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>ID</I> <B>'='</B> <I>ID</I></TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><I>subgraph</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>attr_stmt</I></TD>
  <TD>:</TD>
  <TD>(<B>graph</B> | <B>node</B> | <B>edge</B>) <I>attr_list</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>attr_list</I></TD>
  <TD>:</TD>
  <TD><B>'['</B> [ <I>a_list</I> ] <B>']'</B> [ <I>attr_list</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>a_list</I></TD>
  <TD>:</TD>
  <TD><I>ID</I> <B>'='</B> <I>ID</I> [ (<B>';'</B> | <B>','</B>) ] [ <I>a_list</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>edge_stmt</I></TD>
  <TD>:</TD>
  <TD>(<I>node_id</I> | <I>subgraph</I>) <I>edgeRHS</I> [ <I>attr_list</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>edgeRHS</I></TD>
  <TD>:</TD>
  <TD><I>edgeop</I> (<I>node_id</I> | <I>subgraph</I>) [ <I>edgeRHS</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>node_stmt</I></TD>
  <TD>:</TD>
  <TD><I>node_id</I> [ <I>attr_list</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>node_id</I></TD>
  <TD>:</TD>
  <TD><I>ID</I> [ <I>port</I> ]</TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>port</I></TD>
  <TD>:</TD>
  <TD><B>':'</B> <I>ID</I> [ <B>':'</B> <I>compass_pt</I> ]</TD>
</TR>
<TR>
  <TD></TD>
  <TD>|</TD>
  <TD><B>':'</B> <I>compass_pt</I></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>subgraph</I></TD>
  <TD>:</TD>
  <TD>[ <B>subgraph</B> [ <I>ID</I> ] ] <B>'{'</B> <I>stmt_list</I> <B>'}'</B></TD>
</TR>
<TR>
  <TD STYLE="text-align: right;"><I>compass_pt</I></TD>
  <TD>:</TD>
  <TD>(<B>n</B> | <B>ne</B> | <B>e</B> | <B>se</B> | <B>s</B> | <B>sw</B> | <B>w</B> | <B>nw</B> | <B>c</B> | <B>_</B>)</TD>
</TR>
